body{
    margin: 0vh;
    max-width: 100vw;
    font-family: "Montserrat", sans-serif;
}

#main_body{
    position: relative;
    display: grid;
    max-height: 100vh;
    max-width: 100vw;
}

#header{
    position: relative;
    display: flex;
    height: 7vh;
    min-width: 98vw;
    background-color: #E74C3C;
    justify-content: right;
    align-items: center;
}

#vp{
    position: relative;
    margin-right: 2vw;
    color:white;
    text-decoration: none;
}

#vp:hover{
    position: relative;
    margin-right: 2vw;
    color:white;
    text-decoration: underline;
}

#ep{
    position: relative;
    margin-right: 2vw;
    color:white;
    text-decoration: none;
}

#ep:hover{
    position: relative;
    margin-right: 2vw;
    color:white;
    text-decoration: underline;
}

#lo{
    position: relative;
    margin-right: 2vw;
    color:white;
    text-decoration: none;
}

#lo:hover{
    position: relative;
    margin-right: 2vw;
    color:white;
    text-decoration: underline;
}

#header_left{
    position: relative;
    margin-right: 12.5vw;
}

#search-form {
    display: flex; /* Flex layout to position elements horizontally */
    align-items: center; /* Vertically align items */
}

#search-input{
    position: relative;
    flex-grow: 1;
    border: none;
    border-radius: 5vh 0 0 5vh;
    padding: 0.5vh 1.75vw;
    font-size: 16px;
    outline: none;
    margin-left: 5px;
}

#search-button{
    position: relative;
    background-color: white;
    color: white;
    border: none;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.4vh;
    border-radius: 0 5vh 5vh 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#container{
    position: relative;
    display: grid;
    justify-content: center;
    padding: 5vh 5vw;
}

#text_header{
    color:#E74C3C;
}

#text_header_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    margin-bottom: 0vh;
}

#job_containers{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    min-width: 70vw;
    max-height: 20vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#job_containers:not(:last-child){
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    min-width: 70vw;
    max-height: 20vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid lightgray;
}

#jc_left{
    position:relative;
    display: grid;
    min-width: 64vw;
    max-height: 20vh;
}

#faculty{
    position: relative;
    top: -3.5vh;
}

#post_details{
    position: relative;
    color: gray;
    top: -6vh;
}

#jc_right{
    position:relative;
    display:grid;
    justify-content: center;
    align-items: center;
    min-width: 10vw;
}

#view_details{
    position: relative;
    color: white;
    background-color: #BFA181;
    border: none;
    height: 5vh;
    width: 8vw;
    border-radius: 5vh;
}

#view_details:hover{
    position: relative;
    color: white;
    background-color: #BFA181;
    border: none;
    height: 5vh;
    width: 8vw;
    border-radius: 5vh;
    text-decoration: underline;
    box-shadow: 0px 2px 42px 1px rgba(36,32,32,0.71);
    -webkit-box-shadow: 0px 2px 42px 1px rgba(36,32,32,0.71);
    -moz-box-shadow: 0px 2px 42px 1px rgba(36,32,32,0.71);
}

#skills_container{
    top: -2.5vh;
    position: relative;
    display: flex;
    max-width: 60vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

#skills{
    display: grid;
    border-radius: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 3vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d9d9d9;
    margin-right: 1vw;
}

#skills_text{
    margin: 0;
    font-size: 1vh;
    text-align: center;
}

#exp{
    position: relative;
    top: -3vh;
}